 bedrock: 
   # The IP address that will listen for connections. 
   # Generally, you should only uncomment and change this if you want to limit what IPs can connect to your server. 
   #address: 0.0.0.0 

   # The port that will listen for connections. This is the port that Bedrock players will use to connect to your server.
   port: 19132 
   
   auth-type: floodgate