[Unit]
Description=Prowlarr Daemon
After=syslog.target network.target

[Service]
User=prowlarr
Group=prowlarr
Type=simple
ExecStart=/opt/Prowlarr/Prowlarr -nobrowser -data=/mnt/appdata/prowlarr
TimeoutStopSec=20
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target